# Tarea Redes Neuronales
## Grupos de 3 personas
### Entregas atrasadas pierden 1 punto por hora. Si alguien entrega a las 00:00:01 implica que pierde 1 punto en la nota final. Recomendación, entregue una versión inicial cerca de las 22 horas y luego suba las modificaciones.

La NASA mantiene la información de varios cometas y quiere determinar alguna manera de predecir el diametro de un cometa. Específicamente, han analizado en forma manual una muestra de 100,000 asteroides. Los datos consisten en 26 variables, con distinta información como por ejemplo nombre del asteroide, su periodo orbital, su periodo de rotación, etc. Todos los datos existentes, se encuentran en un puro archivo llamado asteroidTrain.csv. Mientras que las descripciones de cada una de las variables se encuentran en el archivo tareaInformacion.txt

Desafortunadamente, la NASA todavía no ha evaluado 37.681 asteroides y no tienen tiempo para realizarlo. Por lo mismo, le piden que aplique una red neuronal feed forward para obtener una predicción de estos asteroides.

1. Lea los datos y borre las variables/asteroides que estime necesario. En caso que crea que la base de datos todavía es demasiado grande para aplicar una red neruonal, usted puede tomar una muestra de la misma. NOTA, justifique cada una de las decisiones tomadas, el puntaje principal se basa en las justificaciones. Una vez generado estos datos, guarde la base de datos final en un nuevo archivo csv (1.5 puntos).
2. Entrene un modelo feed forward. Realice una busqueda de hiperparámetros incluyendo número de capas, número de  neuronas, funciones de activación, epocas, etc. Seleccione un modelo final (justificando a través de una evaluación correcta los hiperarametros seleccionados (2.5 puntos). NOTA, justifique cada una de las decisiones tomadas, el puntaje principal se basa en las justificaciones. 
3. Utilice el modelo seleccionado en el punto anterior y evalue los 37,681 asteroides que la NASA no ha evaluado. En este proceso genere un archivo csv de una sola columna con 37,681 filas donde cada celda tendrá el valor del cometa a predecir (2 puntos). Atención, si ustedes entrega un archivo con un número distinto de filas, de igual manera se evaluará las 37,681 filas.

El punto de evaluación final será una competencia entre todas las tareas basados en los MSE más bajos y altos obtenido por cada grupo. El puntaje final será una regresión lineal entre un modelo muy básico y el mejor puntaje.

Para esta entrega usted deberá entregar 4 archivos
1. Un archivo ipynb que muestre todo el proceso de selección de variables y limpieza de datos aplicados. Además, deberá mostrar la búsqueda de hiperparametros. Este archivo ya deberá haber sido ejecutado y cuando se cargué uno debera ver todo el proceso de ejecución. 
2. Un nuevo archivo CSV que contenga la base de datos luego de la limpieza generada en el primer punto de la tarea.
3. Un archivo ipynb limpio que simplemente cargue la nueva base de datos, entrene el modelo con los hiperparametros seleccionados y genere el archivo csv con las 37,681 estimaciones. Este archivo permitirá ver la replicabilidad de su archivo csv. 
4. Un archivo csv con las 37,681 estimaciones realizadas para el modelo.

In [2]:
import numpy as np
import pandas as pd
from plotnine import *

In [3]:
df = pd.read_csv("asteroidTrain.csv")
df
#drop
#rot_per GM BV UB IR spec_B spec_T 


#df.info()

C:\Users\erick\AppData\Local\Temp\ipykernel_9124\3100258975.py:1: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.

,full_name,a,e,G,i,om,w,q,ad,per_y,...,rot_per,GM,BV,UB,IR,spec_B,spec_T,neo,pha,moid
0,97632 (2000 EL145),3.069866,0.184417,NaN,3.620920,308.458533,249.570070,2.503729,3.636003,5.378824,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.50522
1,49808 (1999 XD40),2.386539,0.104566,NaN,13.003513,105.866881,329.104052,2.136988,2.636089,3.686897,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.16197
2,390390 (2013 WC84),3.018175,0.084529,NaN,14.247933,245.449168,115.242451,2.763053,3.273297,5.243544,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.79743
3,14319 (1978 US5),2.793049,0.290215,NaN,16.677722,17.862425,287.769691,1.982465,3.603633,4.667948,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.04034
4,321079 (2008 SW97),2.721394,0.098602,NaN,1.975506,271.706257,248.448520,2.453059,2.989728,4.489472,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.46299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,376501 (2012 KN42),3.161511,0.166092,NaN,28.442710,224.796987,2.422644,2.636410,3.686612,5.621475,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.62746
99996,322401 (2011 QC97),2.715932,0.239266,NaN,16.789523,34.531718,44.097353,2.066102,3.365761,4.475963,...,21.13,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.11044
99997,410630 (2008 RD19),3.188786,0.278970,NaN,15.177104,188.342499,255.934423,2.299209,4.078363,5.694376,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.36906
99998,81593 (2000 HC52),2.754535,0.106028,NaN,8.758664,230.483443,34.567890,2.462477,3.046593,4.571730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.45246
99999,3990 Heimdal (1987 SO3),3.940892,0.241022,NaN,9.495628,192.657992,197.808221,2.991051,4.890732,7.823479,...,20.00,NaN,NaN,NaN,NaN,NaN,NaN,N,N,1.99740

In [4]:
#Revisar que tipos de datos tiene cada variable
for i in df.columns:
    display(df.value_counts(i))

full_name
       (1994 VX3)      1
179262 (2001 UC157)    1
179388 (2001 YK49)     1
179386 (2001 YY37)     1
179381 (2001 XB258)    1
                      ..
 51209 (2000 JG14)     1
 51205 (2000 JV9)      1
 51201 (2000 JG6)      1
 51200 (2000 JT5)      1
539759 (2016 UO107)    1
Length: 100000, dtype: int64

a
0.626226      1
3.030217      1
3.030592      1
3.030569      1
3.030530      1
             ..
2.605840      1
2.605834      1
2.605831      1
2.605826      1
389.145964    1
Length: 100000, dtype: int64

e
0.000489    1
0.172402    1
0.172437    1
0.172433    1
0.172433    1
           ..
0.106758    1
0.106755    1
0.106754    1
0.106754    1
0.984348    1
Length: 100000, dtype: int64

G
 0.19    4
 0.11    4
 0.24    4
 0.10    4
 0.12    3
 0.06    3
 0.25    3
 0.23    3
 0.08    3
 0.07    3
 0.28    3
 0.37    3
 0.18    2
 0.21    2
 0.09    2
 0.27    2
 0.46    2
-0.02    2
 0.17    2
 0.35    2
 0.22    2
 0.20    2
 0.48    1
 0.33    1
 0.29    1
 0.34    1
 0.30    1
 0.32    1
 0.40    1
-0.25    1
 0.26    1
-0.12    1
 0.16    1
 0.14    1
 0.05    1
 0.04    1
 0.03    1
 0.01    1
-0.03    1
-0.04    1
-0.06    1
 0.51    1
dtype: int64

i
0.042710      1
12.116157     1
12.120973     1
12.120901     1
12.120872     1
             ..
6.368631      1
6.368352      1
6.368317      1
6.368192      1
170.323647    1
Length: 100000, dtype: int64

om
0.000735      1
220.664898    1
220.739234    1
220.730692    1
220.728316    1
             ..
107.969913    1
107.968536    1
107.966200    1
107.965434    1
359.990858    1
Length: 100000, dtype: int64

w
0.004466      1
243.031602    1
243.093413    1
243.091989    1
243.089551    1
             ..
121.156081    1
121.155648    1
121.154666    1
121.149463    1
359.995174    1
Length: 100000, dtype: int64

q
0.095563     1
2.588135     1
2.588420     1
2.588418     1
2.588405     1
            ..
2.161248     1
2.161246     1
2.161244     1
2.161243     1
20.991865    1
Length: 100000, dtype: int64

ad
0.999956      1
3.363587      1
3.363803      1
3.363799      1
3.363793      1
             ..
2.965036      1
2.965026      1
2.965017      1
2.964993      1
772.201080    1
Length: 100000, dtype: int64

per_y
0.495569       1
5.274956       1
5.275934       1
5.275874       1
5.275773       1
              ..
4.206587       1
4.206573       1
4.206564       1
4.206552       1
7676.742943    1
Length: 100000, dtype: int64

data_arc
1.0        3093
2.0        1296
7150.0      103
5.0          88
4.0          80
           ...
16297.0       1
16296.0       1
16292.0       1
16290.0       1
72318.0       1
Length: 17508, dtype: int64

condition_code
0.0    93195
9.0     4731
1.0      977
2.0      290
5.0      243
7.0      141
6.0      137
3.0      117
4.0      117
8.0       52
dtype: int64

n_obs_used
13      506
11      497
12      489
10      474
14      426
       ...
2817      1
2376      1
2380      1
2383      1
8490      1
Length: 2977, dtype: int64

H
15.20    3323
15.40    3298
15.30    3283
15.50    3281
15.70    3276
         ...
10.72       1
10.69       1
10.66       1
10.64       1
29.90       1
Length: 644, dtype: int64

diameter
2.992                 27
2.842                 26
4.2860000000000005    26
3.263                 26
3.122                 25
                      ..
59.786                 1
60.088                 1
60.147                 1
60.43899999999999      1
99.672                 1
Length: 23712, dtype: int64

extent
0.535x0.294x0.209        1
1.70x2.03x4.26           1
18.2x10.5x8.9            1
279 x 232 x 189          1
34.4x11.2x11.2           1
5.0x2.0x2.1              1
582x556x500              1
59.8x25.4x18.6           1
6.6 x 5.0 x 3.4          1
964.4 x 964.2 x 891.8    1
dtype: int64

albedo
0.0570    1249
0.0530    1212
0.0550    1206
0.0520    1180
0.0560    1176
          ...
0.1987       1
0.0539       1
0.1966       1
0.1907       1
0.2477       1
Length: 950, dtype: int64

rot_per
12.0000      29
24.0000      26
10.0000      20
20.0000      18
8.0000       14
             ..
6.4680        1
6.4580        1
6.4571        1
6.4570        1
1880.0000     1
Length: 6280, dtype: int64

GM
2.100000e-09    1
4.463000e-04    1
2.750000e-03    1
4.910000e-01    1
1.530000e+00    1
5.000000e+00    1
7.000000e+00    1
1.430000e+01    1
6.262840e+01    1
dtype: int64

BV
0.720    11
0.690     9
0.715     9
0.850     9
0.860     9
         ..
0.774     1
0.773     1
0.590     1
0.766     1
1.077     1
Length: 268, dtype: int64

UB
0.390    11
0.360    10
0.410     9
0.425     8
0.375     7
         ..
0.343     1
0.339     1
0.338     1
0.336     1
0.655     1
Length: 304, dtype: int64

Series([], dtype: int64)

spec_B
S        274
C         94
Ch        92
X         90
Xc        41
Sq        39
B         37
Sl        37
Xk        32
Cb        27
Sa        25
L         23
V         23
Xe        21
K         21
T         11
Cgh       10
Sk        10
Sr         9
D          8
Ld         8
A          8
Cg         6
Q          5
S:         3
R          3
S(IV)      1
X:         1
O          1
dtype: int64

spec_T
S         231
C         103
X          38
M          30
P          25
         ...
FCX:        1
FC:         1
FBCU::      1
F:          1
XU          1
Length: 108, dtype: int64

neo
N    99413
Y      587
dtype: int64

pha
N    99831
Y      169
dtype: int64

moid
1.75659     7
1.20470     7
1.18808     7
1.60139     6
2.05754     6
           ..
1.14207     1
1.14208     1
1.14209     1
1.14210     1
20.11250    1
Length: 75328, dtype: int64

In [7]:
#Asteroides con todos los datos nulos
df.isna().any(axis=1).value_counts()

In [8]:
df

True    100000
dtype: int64