# Tarea Redes Neuronales
## Grupos de 3 personas
### Entregas atrasadas pierden 1 punto por hora. Si alguien entrega a las 00:00:01 implica que pierde 1 punto en la nota final. Recomendación, entregue una versión inicial cerca de las 22 horas y luego suba las modificaciones.

La NASA mantiene la información de varios cometas y quiere determinar alguna manera de predecir el diametro de un cometa. Específicamente, han analizado en forma manual una muestra de 100,000 asteroides. Los datos consisten en 26 variables, con distinta información como por ejemplo nombre del asteroide, su periodo orbital, su periodo de rotación, etc. Todos los datos existentes, se encuentran en un puro archivo llamado asteroidTrain.csv. Mientras que las descripciones de cada una de las variables se encuentran en el archivo tareaInformacion.txt

Desafortunadamente, la NASA todavía no ha evaluado 37.681 asteroides y no tienen tiempo para realizarlo. Por lo mismo, le piden que aplique una red neuronal feed forward para obtener una predicción de estos asteroides.

1. Lea los datos y borre las variables/asteroides que estime necesario. En caso que crea que la base de datos todavía es demasiado grande para aplicar una red neruonal, usted puede tomar una muestra de la misma. NOTA, justifique cada una de las decisiones tomadas, el puntaje principal se basa en las justificaciones. Una vez generado estos datos, guarde la base de datos final en un nuevo archivo csv (1.5 puntos).
2. Entrene un modelo feed forward. Realice una busqueda de hiperparámetros incluyendo número de capas, número de  neuronas, funciones de activación, epocas, etc. Seleccione un modelo final (justificando a través de una evaluación correcta los hiperarametros seleccionados (2.5 puntos). NOTA, justifique cada una de las decisiones tomadas, el puntaje principal se basa en las justificaciones. 
3. Utilice el modelo seleccionado en el punto anterior y evalue los 37,681 asteroides que la NASA no ha evaluado. En este proceso genere un archivo csv de una sola columna con 37,681 filas donde cada celda tendrá el valor del cometa a predecir (2 puntos). Atención, si ustedes entrega un archivo con un número distinto de filas, de igual manera se evaluará las 37,681 filas.

El punto de evaluación final será una competencia entre todas las tareas basados en los MSE más bajos y altos obtenido por cada grupo. El puntaje final será una regresión lineal entre un modelo muy básico y el mejor puntaje.

Para esta entrega usted deberá entregar 4 archivos
1. Un archivo ipynb que muestre todo el proceso de selección de variables y limpieza de datos aplicados. Además, deberá mostrar la búsqueda de hiperparametros. Este archivo ya deberá haber sido ejecutado y cuando se cargué uno debera ver todo el proceso de ejecución. 
2. Un nuevo archivo CSV que contenga la base de datos luego de la limpieza generada en el primer punto de la tarea.
3. Un archivo ipynb limpio que simplemente cargue la nueva base de datos, entrene el modelo con los hiperparametros seleccionados y genere el archivo csv con las 37,681 estimaciones. Este archivo permitirá ver la replicabilidad de su archivo csv. 
4. Un archivo csv con las 37,681 estimaciones realizadas para el modelo.

In [1]:
import numpy as np
import pandas as pd
from plotnine import *

In [2]:
df = pd.read_csv("asteroidTrain.csv")
df.info()

C:\Users\matia\AppData\Local\Temp\ipykernel_1928\3075287561.py:1: DtypeWarning: Columns (14,15) have mixed types. Specify dtype option on import or set low_memory=False.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   full_name       100000 non-null  object
 1   a               100000 non-null  float64
 2   e               100000 non-null  float64
 3   G               80 non-null      float64
 4   i               100000 non-null  float64
 5   om              100000 non-null  float64
 6   w               100000 non-null  float64
 7   q               100000 non-null  float64
 8   ad              100000 non-null  float64
 9   per_y           100000 non-null  float64
 10  data_arc        99907 non-null   float64
 11  condition_code  100000 non-null  float64
 12  n_obs_used      100000 non-null  int64
 13  H               99459 non-null   float64
 14  diameter        100000 non-null  object
 15  extent          10 non-null      object
 16  albedo          99122 non-null   float64
 17  rot_per         8065 non-null    float64
 18  GM              9 non-null       float64
 19  BV              724 non-null     float64
 20  UB              697 non-null     float64
 21  IR              0 non-null       float64
 22  spec_B          960 non-null     object
 23  spec_T          698 non-null     object
 24  neo             100000 non-null  object
 25  pha             100000 non-null  object
 26  moid            100000 non-null  float64
dtypes: float64(19), int64(1), object(7)
memory usage: 20.6+ MB

In [3]:
df2=df.dropna(axis=1)
df2

,full_name,a,e,i,om,w,q,ad,per_y,condition_code,n_obs_used,diameter,neo,pha,moid
0,97632 (2000 EL145),3.069866,0.184417,3.620920,308.458533,249.570070,2.503729,3.636003,5.378824,0.0,614,6.611,N,N,1.50522
1,49808 (1999 XD40),2.386539,0.104566,13.003513,105.866881,329.104052,2.136988,2.636089,3.686897,0.0,1247,4.255,N,N,1.16197
2,390390 (2013 WC84),3.018175,0.084529,14.247933,245.449168,115.242451,2.763053,3.273297,5.243544,0.0,181,5.625,N,N,1.79743
3,14319 (1978 US5),2.793049,0.290215,16.677722,17.862425,287.769691,1.982465,3.603633,4.667948,0.0,955,4.224,N,N,1.04034
4,321079 (2008 SW97),2.721394,0.098602,1.975506,271.706257,248.448520,2.453059,2.989728,4.489472,0.0,251,3.525,N,N,1.46299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,376501 (2012 KN42),3.161511,0.166092,28.442710,224.796987,2.422644,2.636410,3.686612,5.621475,0.0,112,5.946,N,N,1.62746
99996,322401 (2011 QC97),2.715932,0.239266,16.789523,34.531718,44.097353,2.066102,3.365761,4.475963,0.0,201,4.724,N,N,1.11044
99997,410630 (2008 RD19),3.188786,0.278970,15.177104,188.342499,255.934423,2.299209,4.078363,5.694376,0.0,141,4.148,N,N,1.36906
99998,81593 (2000 HC52),2.754535,0.106028,8.758664,230.483443,34.567890,2.462477,3.046593,4.571730,0.0,835,2.749,N,N,1.45246
99999,3990 Heimdal (1987 SO3),3.940892,0.241022,9.495628,192.657992,197.808221,2.991051,4.890732,7.823479,0.0,2036,35.679,N,N,1.99740

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   full_name       100000 non-null  object
 1   a               100000 non-null  float64
 2   e               100000 non-null  float64
 3   i               100000 non-null  float64
 4   om              100000 non-null  float64
 5   w               100000 non-null  float64
 6   q               100000 non-null  float64
 7   ad              100000 non-null  float64
 8   per_y           100000 non-null  float64
 9   condition_code  100000 non-null  float64
 10  n_obs_used      100000 non-null  int64
 11  diameter        100000 non-null  object
 12  neo             100000 non-null  object
 13  pha             100000 non-null  object
 14  moid            100000 non-null  float64
dtypes: float64(10), int64(1), object(4)
memory usage: 11.4+ MB

In [9]:
df2

,full_name,a,e,i,om,w,q,ad,per_y,condition_code,n_obs_used,diameter,neo,pha,moid
0,97632 (2000 EL145),3.069866,0.184417,3.620920,308.458533,249.570070,2.503729,3.636003,5.378824,0.0,614,6.611,N,N,1.50522
1,49808 (1999 XD40),2.386539,0.104566,13.003513,105.866881,329.104052,2.136988,2.636089,3.686897,0.0,1247,4.255,N,N,1.16197
2,390390 (2013 WC84),3.018175,0.084529,14.247933,245.449168,115.242451,2.763053,3.273297,5.243544,0.0,181,5.625,N,N,1.79743
3,14319 (1978 US5),2.793049,0.290215,16.677722,17.862425,287.769691,1.982465,3.603633,4.667948,0.0,955,4.224,N,N,1.04034
4,321079 (2008 SW97),2.721394,0.098602,1.975506,271.706257,248.448520,2.453059,2.989728,4.489472,0.0,251,3.525,N,N,1.46299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,376501 (2012 KN42),3.161511,0.166092,28.442710,224.796987,2.422644,2.636410,3.686612,5.621475,0.0,112,5.946,N,N,1.62746
99996,322401 (2011 QC97),2.715932,0.239266,16.789523,34.531718,44.097353,2.066102,3.365761,4.475963,0.0,201,4.724,N,N,1.11044
99997,410630 (2008 RD19),3.188786,0.278970,15.177104,188.342499,255.934423,2.299209,4.078363,5.694376,0.0,141,4.148,N,N,1.36906
99998,81593 (2000 HC52),2.754535,0.106028,8.758664,230.483443,34.567890,2.462477,3.046593,4.571730,0.0,835,2.749,N,N,1.45246
99999,3990 Heimdal (1987 SO3),3.940892,0.241022,9.495628,192.657992,197.808221,2.991051,4.890732,7.823479,0.0,2036,35.679,N,N,1.99740

In [10]:
for i in df2.columns:
    display(df2.value_counts(i))

full_name
       (1994 VX3)      1
179262 (2001 UC157)    1
179388 (2001 YK49)     1
179386 (2001 YY37)     1
179381 (2001 XB258)    1
                      ..
 51209 (2000 JG14)     1
 51205 (2000 JV9)      1
 51201 (2000 JG6)      1
 51200 (2000 JT5)      1
539759 (2016 UO107)    1
Length: 100000, dtype: int64

a
0.626226      1
3.030217      1
3.030592      1
3.030569      1
3.030530      1
             ..
2.605840      1
2.605834      1
2.605831      1
2.605826      1
389.145964    1
Length: 100000, dtype: int64

e
0.000489    1
0.172402    1
0.172437    1
0.172433    1
0.172433    1
           ..
0.106758    1
0.106755    1
0.106754    1
0.106754    1
0.984348    1
Length: 100000, dtype: int64

i
0.042710      1
12.116157     1
12.120973     1
12.120901     1
12.120872     1
             ..
6.368631      1
6.368352      1
6.368317      1
6.368192      1
170.323647    1
Length: 100000, dtype: int64

om
0.000735      1
220.664898    1
220.739234    1
220.730692    1
220.728316    1
             ..
107.969913    1
107.968536    1
107.966200    1
107.965434    1
359.990858    1
Length: 100000, dtype: int64

w
0.004466      1
243.031602    1
243.093413    1
243.091989    1
243.089551    1
             ..
121.156081    1
121.155648    1
121.154666    1
121.149463    1
359.995174    1
Length: 100000, dtype: int64

q
0.095563     1
2.588135     1
2.588420     1
2.588418     1
2.588405     1
            ..
2.161248     1
2.161246     1
2.161244     1
2.161243     1
20.991865    1
Length: 100000, dtype: int64

ad
0.999956      1
3.363587      1
3.363803      1
3.363799      1
3.363793      1
             ..
2.965036      1
2.965026      1
2.965017      1
2.964993      1
772.201080    1
Length: 100000, dtype: int64

per_y
0.495569       1
5.274956       1
5.275934       1
5.275874       1
5.275773       1
              ..
4.206587       1
4.206573       1
4.206564       1
4.206552       1
7676.742943    1
Length: 100000, dtype: int64

condition_code
0.0    93195
9.0     4731
1.0      977
2.0      290
5.0      243
7.0      141
6.0      137
3.0      117
4.0      117
8.0       52
dtype: int64

n_obs_used
13      506
11      497
12      489
10      474
14      426
       ...
2817      1
2376      1
2380      1
2383      1
8490      1
Length: 2977, dtype: int64

diameter
2.992                 27
2.842                 26
4.2860000000000005    26
3.263                 26
3.122                 25
                      ..
59.786                 1
60.088                 1
60.147                 1
60.43899999999999      1
99.672                 1
Length: 23712, dtype: int64

neo
N    99413
Y      587
dtype: int64

pha
N    99831
Y      169
dtype: int64

moid
1.75659     7
1.20470     7
1.18808     7
1.60139     6
2.05754     6
           ..
1.14207     1
1.14208     1
1.14209     1
1.14210     1
20.11250    1
Length: 75328, dtype: int64

In [8]:
#Creando y entrenando un modelo
from sklearn.neural_network import MLPClassifier
modelo = MLPClassifier(hidden_layer_sizes=(10,),max_iter=500)

In [11]:
modelo.fit(df2.iloc[:,2:3], df2.iloc[:,11])

ValueError: Unknown label type: (array([6.6110000000000015, 4.255, 5.625, ..., 4.148, 2.749, 35.679],
      dtype=object),)